<div class="w-90dvw h-12 bg-white dark:bg-zinc-700 flex justify-between">
  <div class="h-full flex items-center">
    @for (item of buttons; track item.icon; let index = $index) {
    <div
      class="transition-all duration-500 text-xl mx-2 flex justify-center items-center cursor-pointer rounded-full h-8 dark:text-gray-800 {{
        item.class
      }}"
      [ngClass]="{
        'w-44': showSearch && index === 0,
        'w-8': !showSearch || index !== 0
      }"
    >
      <i [className]="item.icon" (click)="showSearch = true"></i>
      @if (index === 0) {
      <input
        class="bg-transparent transition-all duration-500 text-sm placeholder:text-gray-800 focus-visible:outline-0"
        type="text"
        placeholder="Buscar..."
        [ngClass]="{ 'w-32': showSearch, 'w-0': !showSearch }"
      />
      <div
        class="overflow-hidden transition-all duration-500"
        [ngClass]="{ 'w-0': !showSearch, 'w-5': showSearch }"
        (click)="showSearch = false"
      >
        <i class="nt-times"></i>
      </div>
      }
    </div>
    }
  </div>
  <div class="h-full flex items-center">
    <div
      class="text-xl mx-2 flex justify-center items-center cursor-pointer rounded-full overflow-hidden w-8 h-8 bg-blue-800 dark:bg-blue-900 text-white"
      (click)="changeTheme()"
    >
      <i class="{{ theme }} transition-all duration-500" [ngClass]="{'mt-14': hidden}"></i>
    </div>
    <div
      class="text-xl mx-2 flex justify-center items-center cursor-pointer rounded-full w-8 h-8 bg-blue-500 dark:bg-blue-900 text-white"
    >
      C
    </div>
  </div>
</div>
