.w-90dvw {
  width: 90dvw;
}

.btn {
  &__0 {
    background-color: #28f5b8;
  }
  &__1 {
    background-color: #28f5e9;
  }
  &__2 {
    background-color: #5df528;
  }
  &__3 {
    background-color: #f1f528;
  }
  &__4 {
    background-color: #f5a328;
  }
  &__theme {
    background-color: #1F2770;
  }
}

@media (prefers-color-scheme: dark) {
  .btn {
    &__0 {
      background-color: #168f6a;
    }
    &__1 {
      background-color: #168f87;
    }
    &__2 {
      background-color: #358f16;
    }
    &__3 {
      background-color: #8c8f16;
    }
    &__4 {
      background-color: #8f5f16;
    }
  }
}
