<div
  class="fixed flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 dark:text-gray-400 bg-white dark:bg-zinc-700 divide-x rtl:divide-x-reverse divide-gray-200 dark:divide-gray-400 rounded-lg shadow bottom-5 right-5 transition-all duration-500"
  [ngClass]="{ 'translate-y-20': !show }"
  role="alert"
>
  @switch (type) { @case ('success') {
  <i class="nt-thumb-up text-green dark:text-green-600 text-xl font-bold"></i>
  } @case ('error') {
  <i class="nt-bug text-red dark:text-red-600 rotate-45 text-xl font-bold"></i>
  } }
  <div class="ps-4 text-sm font-normal">{{ message }}</div>
</div>
