<div class="relative" [formGroup]="form">
  <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 text-lg">
    <i
      class="{{ iconLeft }} text-gray-500 dark:text-gray-400"
      [ngClass]="{ 'text-red-700 dark:text-red-500': error }"
    ></i>
  </div>
  <input
    class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-zinc-600 dark:border-zinc-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-900 dark:focus:border-blue-900"
    [placeholder]="placeholder ?? ''"
    [formControlName]="controlName"
    [ngClass]="{
      'pe-10': iconRight,
      'bg-red-50 border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
        error
    }"
    [type]="type ?? 'text'"
  />
  <div class="absolute inset-y-0 end-0 flex items-center pe-3.5 text-lg">
    <i
      class="{{ iconRight }} text-gray-500 dark:text-gray-400"
      [ngClass]="{
        'cursor-pointer': buttonRight,
        'text-red-700 dark:text-red-500': error
      }"
      (click)="click()"
    ></i>
  </div>
</div>
<app-error-message />

@if (showBar) {
<div class="w-full bg-gray-200 rounded-full h-1.5 mb-4 dark:bg-zinc-400 mt-2">
  <div
    class="bg-blue-600 h-1.5 rounded-full transition-all duration-1000 {{
      password | colorBar
    }}"
    [style]="{ width: password | barPercentage }"
  ></div>
</div>
@if ((password | typePassword) !== '') {
<div class="dark:text-gray-300 text-sm">
  {{ password | typePassword }}
</div>
} }
