<!-- <div
  class="bg-gray-200 dark:bg-zinc-400 p-2 flex"
  [formGroup]="form"
  [ngClass]="{ 'bg-red-200': error }"
>
  @if (iconLeft !== undefined) {
  <div
    class="text-2xl text-gray-500 dark:text-gray-800 mr-2"
    [ngClass]="{ 'text-red-600': error }"
  >
    <i [className]="iconLeft"></i>
  </div>
  }
  <input
    class="bg-transparent min-w-60 placeholder:text-gray-500 dark:placeholder:text-gray-200 dark:text-white"
    [type]="type ?? 'text'"
    [placeholder]="placeholder ?? ''"
    [formControlName]="controlName"
    [ngClass]="{ 'placeholder:text-red-600': error }"
  />
  @if (iconRight !== undefined) {
  <div
    class="text-2xl text-gray-500 dark:text-gray-800 ml-2"
    [ngClass]="{ 'cursor-pointer': buttonRight, 'text-red-600': error }"
  >
    <i [className]="iconRight" (click)="click()"></i>
  </div>
  }
</div>
 -->
<div class="relative">
  <div
    class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
  >
    <i class="{{ iconLeft }} text-gray-500 dark:text-gray-400"></i>
  </div>
  <input
    id="input-group-1"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="name@flowbite.com"
    [ngClass]="{ 'pe-10': iconRight }"
    [type]="type"
  />
  <div
    class="absolute inset-y-0 end-0 flex items-center pe-3.5 pointer-events-none"
  >
    <i class="{{ iconRight }} text-gray-500 dark:text-gray-400"></i>
  </div>
</div>
