<div class="relative flex container h-1/4 bg-white dark:bg-zinc-700">
  <div
    class="absolute w-1/2 h-full bg-blue-500 dark:bg-blue-900 transition-all ease-in-out duration-500 text-white overflow-hidden right-0"
    [ngClass]="{ '-translate-x-full': viewRegister }"
  >
    <div
      class="relative -left-full w-2-full h-full transition-all duration-500 ease-in-out"
      [ngClass]="{ 'translate-x-1/2': viewRegister }"
    >
      <div
        class="absolute w-1/2 h-full transition-all duration-500 ease-in-out flex justify-center items-center"
        [ngClass]="{ '-translate-x-1/4': !viewRegister }"
      >
        <div class="block text-center">
          <div class="text-3xl mb-5">¡Bienvenido de Nuevo!</div>
          <div class="my-5 px-8 text-lg text-center">
            Si ya tienes una cuenta, puedes ingresar dandole clic al botón :)
          </div>
          <div class="text-6xl my-6">
            <i class="nt-arrow-down"></i>
          </div>
          <app-button class="outline-white" label="Ingresar" />
        </div>
      </div>
      <div
        class="absolute w-1/2 h-full right-0 transition-all duration-500 ease-in-out flex justify-center items-center"
        [ngClass]="{ 'translate-x-1/4': viewRegister }"
      >
        <div class="block text-center">
          <div class="text-3xl mb-5">¡Bienvenido!</div>
          <div class="my-5 px-8 text-lg text-center">
            Si no te encuentras registrado, puedes hacerlo dandole clic al botón
            :)
          </div>
          <div class="text-6xl my-6">
            <i class="nt-arrow-down"></i>
          </div>
          <app-button class="outline-white" label="Registrarme" />
        </div>
      </div>
    </div>
  </div>
  <!--   <div
    class="w-1/2 bg-white dark:bg-zinc-700 flex justify-center items-center py-20 px-14"
  >
    <form [formGroup]="form" action="">
      <h1 class="text-3xl font-bold text-center dark:text-gray-300">
        Iniciar Sesión
      </h1>
      <div class="py-8">
        <div class="my-8">
          @if (form) {
          <app-input
            controlName="email"
            placeholder="Usuario"
            iconLeft="nt-username"
            [form]="form"
          />
          <app-error-message [form]="form" field="email" />
          }
        </div>
        <div class="my-8">
          <app-input
            placeholder="Contraseña"
            iconLeft="nt-password"
            controlName="password"
            [type]="type"
            [iconRight]="iconRight"
            [buttonRight]="true"
            [form]="form"
            (selected)="chageType()"
          />
          <app-error-message [form]="form" field="password" />
        </div>
      </div>
      <div class="text-center">
        <app-button label="Ingresar" icon="nt-login" (click)="login()" />
      </div>
    </form>
  </div>
  <div
    class="w-1/2 bg-blue-500 dark:bg-blue-900 flex justify-center items-center py-20 px-14"
  >
    <div class="text-center text-white">
      <h1>¡Bienvenido!</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        repudiandae velit amet autem sint quidem consequatur similique, nostrum
        distinctio atque voluptate, sed quasi ea eos provident ut, numquam
        dolores doloremque.
      </p>
      <app-button class="outline-white" label="Registrarme" icon="nt-login" />
    </div>
  </div> -->
</div>
<button (click)="viewRegister = !viewRegister">AAAA</button>
