<div
  class="w-96 h-34rem overflow-hidden bg-white dark:bg-zinc-700 text-white transition-all duration-700 ease-in-out"
  [ngClass]="{ 'h-42rem': viewRegister }"
>
  <div
    class="relative h-full w-full transition-all duration-700 ease-in-out flex justify-center items-center"
    [ngClass]="{ '-translate-y-40': viewRegister }"
  >
    <app-form-login [active]="!viewRegister" (select)="viewRegister = false" />
  </div>

  <div
    class="bg-blue-500 dark:bg-blue-900 h-32rem transition-all duration-700 ease-in-out -translate-y-12 px-12"
    [ngClass]="{ '-translate-y-38rem py-12': viewRegister }"
  >
    <app-form-login
      [active]="viewRegister"
      [register]="true"
      (select)="viewRegister = true"
    />
  </div>
</div>
