.bg-login {
  background: url(../../../assets/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.h-34rem {
  height: 34rem;
}

.h-42rem {
  height: 42rem;
}

.h-45rem {
  height: 45rem;
}
