/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("assets/icons/style.css");

.bg-gray {
  background-color: #dfdfdf;
}

.decoration-none {
  text-decoration: none;
}

.origin-left-center {
  transform-origin: left center;
}

.w-2-full {
  width: 200%;
}
