<form [formGroup]="form" (ngSubmit)="submit()">
  <h1
    class="text-3xl font-bold text-center dark:text-gray-300 transition-all duration-700 ease-in-out"
    [ngClass]="{ 'scale-100': active, 'cursor-pointer scale-75': !active }"
    (click)="select.emit()"
  >
    {{ register ? "Crear Cuenta" : "Iniciar Sesión" }}
  </h1>
  <div class="py-8">
    @if (register) {
    <div class="mb-8 mt-2">
      <app-input
        placeholder="Nombre"
        iconLeft="nt-user"
        controlName="name"
        placeholder="Nombre"
        [form]="form"
      />
      <app-error-message [form]="form" field="name" />
    </div>
    }
    <div class="my-8">
      <app-input
        controlName="email"
        placeholder="Usuario"
        iconLeft="nt-username"
        [form]="form"
      />
      <app-error-message [form]="form" field="email" />
    </div>
    <div class="my-8">
      <app-input
        placeholder="Contraseña"
        iconLeft="nt-password"
        controlName="password"
        [type]="type"
        [iconRight]="iconRight"
        [buttonRight]="true"
        [form]="form"
        [showBar]="register"
        (selected)="chageType()"
      />
      <app-error-message [form]="form" field="password" />
    </div>
    @if (register) {
    <div class="my-8">
      <app-input
        placeholder="Contraseña"
        iconLeft="nt-password"
        [type]="type"
        [iconRight]="iconRight"
        [buttonRight]="true"
        (selected)="chageType()"
      />
      <!-- <app-error-message [form]="form" field="password" /> -->
    </div>
    }
  </div>
  <div class="text-center">
    <app-button
      label="{{ register ? 'Registrarme' : 'Ingresar' }}"
      icon="{{ register ? 'nt-register' : 'nt-login' }}"
      [class]="register ? 'outline-white' : 'primary'"
      (click)="submit()"
    />
  </div>
</form>
